@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

$black: #000000;
$dark: #242424;
$darker: #222222;
$white: #ffffff;
$light: #fafafa;
$blue: #010042;
$red: #f53b30;
$green: #00bc6c;
$gray: #878787;
$orange: #ff5c00;
$yellow: #ffd800;

$gray-light: #e5e6e4;
$blue-light: #008ff9;

$container: 1200px;
$margin: 0 auto;

$roboto: "Roboto", sans-serif;
$right: "Righteous", sans-serif;
$rye:  "Rye", serif;
